<div class="container">
    <!-- <div class="card card-header">

    </div> -->
    <ul class="nav nav-tabs">
        <li class="nav-item" ><a class="nav-link active" routerLinkActive="active" routerLink="account">Account</a></li>
      <li class="nav-item"><a class="nav-link active" routerLinkActive="active" routerLink="profile"> Profile</a></li>
      <li class="nav-item"><a class="nav-link active" routerLinkActive="active"routerLink="finish">Finish</a></li>
    </ul>

    <div class="card card-body">
            
    
            <router-outlet></router-outlet>
        </div>

    
</div>

