<!-- <h3> {{customer.firstName}}  {{customer.lastName}}</h3>
<h4> {{customer.address}}</h4>
<h4>{{customer.city}}, {{customer.state}}</h4>

<app-maps-view></app-maps-view> -->
<div class="media">
        <div class="media-left">
          <img src="assets/Images/img1.png" class="media-object" style="width:100px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{customer.firstName}}  {{customer.lastName}}</h4>
          <h5> {{customer.address}}</h5>
<h5>{{customer.city}}, {{customer.state}}</h5>
        </div>
      </div>
      <app-maps-view></app-maps-view>